{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/base.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <script src="https://kit.fontawesome.com/85112af035.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.min.js' %}"></script>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% if messages %}
        {% comment %} Display messages using django's build in messages framework {% endcomment %}
        <ul class="messages">
            {% for message in messages %}
            <span>
                <li class="message {% if message.tags %}{{ message.tags }} {% endif %}">
                    {{ message.message }}
                    <span class="material-symbols-outlined closeBTN"  onclick="hideSelf(this.parentNode)">close</span>
                </li>
                
            </span>
            {% endfor %}
        </ul>
        {% endif %}
        <header>
            <nav>
                <a href="/">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">About</button>
                    <div class="dropdown-content">
                        <a href="/about/">About this project</a>
                        <a href="/contact/">Contact us</a>
                        <a href="/privacy/">Privacy and security</a>
                    </div>
                </div>

                {% if request.user.is_authenticated %}

                    {% if request.user.is_teacher %}
                        <div class="dropdown">
                            <button class="dropbtn">Teachers</button>
                            <div class="dropdown-content">
                                <a href="/teachers/">Teachers Home</a>
                                <a href="/commendations/award/">Award Commendation</a>
                                {% if request.user.teacher.is_management %}
                                    <a href="/students/list/">View Students</a>
                                    <a href="/commendations/spirit/">Award spirit badges</a>
                                {% endif %}
                            </div>
                        </div>
                    {% elif request.user.is_student%}
                        <div class="dropdown">
                            <button class="dropbtn">Students</button>
                            <div class="dropdown-content">
                                <a href="/students/">Student Portal</a>
                                <a href="/commendations/my/">My Commendations</a>
                            </div>
                        </div>
                    {% endif %}

                    <a href="/logout/" class="right">Logout</a>
                    {% if request.user.is_staff %}
                        <a href="/admin/" class="right">Admin Site</a>
                    {% endif %}
                    
                    {% else %}
                    <a href="/login/" class="right">Login</a>
                {% endif %}
                <a href="javascript:void(0);" class="icon" onclick="toggleNavResponsive()">&#9776;</a>
            </nav>
        </header>
        <main>
            <h1 class="textCenter">{% block headerText %}{% endblock headerText %}</h1>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <div id="footerLeft">
                <ul>
                    <li><a href="/about/">About this project</a></li>
                    <li><a href="/contact/">Contact us</a></li>
                    <li><a href="/privacy/">Privacy and security</a></li>
                </ul>
            </div>
            <div id="footerCent">
                <ul>
                    <li>Created by <a target="_blank" href="mailto:19059@bayfield-high.school.nz">Matthew Gray</a></li>
                    <li>For <a target="_blank" href="https://www.bayfield-high.school.nz/">Bayfield High School</a></li>
                </ul>
            </div>
            <div id="footerRight">
                <ul>
                    <li>Icons by <a target="_blank" href="https://fontawesome.com/">FontAwesome</a></li>
                    <li>Font by <a target="_blank" href="https://fonts.google.com/specimen/Comfortaa">Google Fonts</a></li>
                    <li>View <a target="_blank" href="https://github.com/mmoomocow/digital-commendations">source code</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>