{% extends 'base.html' %}

{% comment %} HTML title {% endcomment %}
{% block title %}COntact Us{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}
{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Contact information sent!{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
Your message has been recorded and someone will be in touch via the email you provided as soon as possible!
{% endblock content %}

{% comment %} Center footer section {% endcomment %}
{% block footer %}

{% endblock footer %}