{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}Caregiver Portal{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}The caregiver portal is the main hub for caregivers using the Digital Commendation System.{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}

{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Hello {{ request.user.first_name }}{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<h2>Welcome to the caregiver portal</h2>
<p>
    This is the caregiver portal for the Digital Commendation System. From here you will be able to view your child's commendations and how they are progressing toward RISE awards.
    <br><br>
    Use the navigation bar at the top of the page to navigate the site.
    <br><br>
    Get started by viewing your child's commendations <a href="/commendations/my/">Here</a>
</p>
<h2>Current state of development</h2>
<p>
    The caregiver portal is still under development. The following features are currently available, but more will be added soon:
    <ul>
        <li>Viewing of RISE awards</li>
        <li>Viewing of child's progress toward RISE awards</li>
    </ul>
</p>
{% endblock content %}
