{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}Student Portal{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}The student portal is the main hub for students using the Digital Commendation System.{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}
{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Hello {{ request.user.first_name }}{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<h2>Welcome to the student portal</h2>
<p>
    This is the student portal for the commendation system. Here you can view your commendations, and see your
    progress towards your next award.
    <br><br>
    Use the navigation bar at the top of the page to navigate the site.
    <br><br>
    If you have any questions, please contact your teacher.
</p>
<h2>Getting Started</h2>
<p>
    Get started by viewing your commendations. You can <a href="/commendations/my/">view them here</a> or use the navigation bar at the top of the page and select "My Commendations".
    <br>
    You can also track your progress towards RISE awards. You can <a href="/commendations/progress/">view your progress here</a> or use the navigation bar at the top of the page and select "RISE Award Progress".
</p>
{% endblock content %}
