{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}Teacher Portal{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}The teacher portal is the main hub for teachers using the Digital Commendation System.{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}

{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Teacher Portal{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<p>Hello World</p>
{% endblock content %}
