{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}View Students{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}View a list of all saved students{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}
<link rel="stylesheet" href="{% static 'students/students.min.css' %}">
{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}All Students{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}

<form action="" method="get">
    {% if query %}
    <input type="text" name="search" id="search" placeholder="Search Students" value="{{query}}">
    {% else %}
    <input type="text" name="search" id="search" placeholder="Search Students">
    {% endif %}
    <input type="submit" id="submit" value="🔎 Search">
</form>

<br>

<div class="allStudents">
    {% for student in students %}
        <article class="student">
            <a href="/students/{{ student.id }}"><h2>{{ student.user.first_name }} {{ student.user.last_name }} ({{ student.id }})</h2></a>
            Email: <a href="mailto:{{ student.user.email }}">{{ student.user.email }}</a>
            {% if student.commendations_set.count == "1" %}
            <p class="commendationCount">1 commendation</p>
            {% else %}
            <p class="commendationCount">{{ student.commendation_set.count }} commendations</p>
            {% endif %}
        </article>
    {% endfor %}
</div>

{% endblock content %}

{% comment %} Center footer section {% endcomment %}
{% block footer %}

{% endblock footer %}