.R:before {
    content: "Respect ";
}

.I:before {
    content: "Integrity ";
}

.S:before {
    content: "Service ";
}

.E:before {
    content: "Excellence ";
}

.O:before {
    content: "Other ";
}

#commendations,
#milestones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.commendation,
.milestone {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(67, 67, 67, 0.5);
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}