{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}Generate Jr School spirit badges{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}
<link rel="stylesheet" href="{% static 'teachers/award_milestone.min.css' %}">
<script src="{% static 'teachers/award_milestone.min.js' %}" defer></script>
{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Generate Jr School spirit badges{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<form method="get">
    <p>Select badge types to be awarded:</p>
    <div class="formField">
        {% for type in milestoneTypes %}
            <input type="checkbox" name="type" id="{{ type.value }}" value="{{ type.value }}" />
            <label for="{{ type.value }}">{{ type.name }}</label>
            <br>
        {% endfor %}
    </div>
    <br>
    <div class="formField">
        <label for="date">Student must have achieved this after: </label>
        <input type="date" name="date" id="date">
    </div>

    <div class="formField">
        <input type="submit" value="Submit" id="submit">
    </div>
</form>
<br>
{% if milestones %}
    <hr>
    <article class="results">
        <h2>Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Student: </th>
                    <th>Type: </th>
                    <th>Date achieved: </th>
                </tr>
            </thead>
            <tbody>
                {% for milestone in milestones %}
                    <tr>
                        <td>{{ milestone.student }}</td>
                        <td>{{ milestone.prettyPrint }}</td>
                        <td>{{ milestone.date_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endif %}
{% endblock content %}