{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}Teacher Home{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}The home page for teachers of Bayfield High school {% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}

{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Teacher Home{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<p>Hello World</p>
{% endblock content %}

{% comment %} Center footer section {% endcomment %}
{% block footer %}

{% endblock footer %}