{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}Student Info{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}
<link rel="stylesheet" href="{% static 'teachers/student.min.css' %}">
{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Student Info{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<h2>{{ student.user.first_name }} {{ student.user.last_name }}  ({{ student.id }})</h2>
<a href="mailto:{{ student.user.email }}">{{ student.user.email }}</a>
<br>
{% if commendations.count == 1 %}
<h3>{{commendations.count}} commendation</h3>
{% else %}
<h3>{{commendations.count}} commendations</h3>
{% endif %}
<article id="commendations">
    {% for commendation in commendations %}
        <div class="commendation">
            <h3 id="{{ commendation.commendation_type }}">commendation</h3>
            <p>
                Awarded by: {{ commendation.teacher }}
                <br>
                Date: {{ commendation.date_time }}
                <br>
                {{ commendation.reason }}
            </p>
        </div>
    {% endfor %}
</article>
{% endblock content %}