form:not(.results) {
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem;
    background-color: var(--color-grey-light);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.formField {
    margin-bottom: 2rem;
    width: 100%;
}

.formField:last-of-type {
    margin-bottom: 0;
}

form * {
    box-sizing: border-box;
}

form input,
form select,
form textarea {
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid var(--color-grey-dark);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    width: 100%;
}

form textarea {
    height: 5rem;
    resize: vertical;
}

form select:not(#teacher) {
    height: 10rem;
}

form input[type="checkbox"] {
    margin-left: 1em;
    margin-right: 0.3em;
    display: inline-block;
    width: auto;
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.2);
    border: none;
    transform: translateY(0.15rem);
}

form input[type="checkbox"]:checked+label:not(#selectAll-label) {
    background-color: var(--color-gold);
    color: var(--color-green);
}

form #submit-search,
form #submit-awarded {
    background-color: var(--color-gold);
    color: var(--color-grey-dark);
    font-weight: bold;
    cursor: pointer;
}

.errorMessage {
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hint {
    color: var(--color-grey-dark);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


table th,
table td {
    padding: 0.5rem;
    border: 1px solid var(--color-grey-dark);
    text-align: left;
}

table th {
    background-color: var(--color-green);
    color: var(--color-gold);
}

table tr:hover {
    background-color: var(--color-gold);
    transition: background-color 0.2s ease-in-out;
}

.milestone-checkbox {
    text-align: center;
}