.container {
    text-align: center;
    display: table;
    margin: auto;
    min-height: 80vh;
    width: 100%;
}

.cert {
    border: 20px solid var(--color-green);
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.organisation {
    color: var(--color-green);
}

.title {
    color: var(--color-green);
    font-size: 48px;
    margin: 20px;
}

.date {
    margin: 20px;
}

.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 20px auto;
    width: 400px;
}

.reason {
    margin: 20px;
}


#buttons {
    text-align: center;
    margin-top: 2rem;
}

#buttons a {
    text-decoration: none;
    color: var(--color-green);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 3px solid var(--color-green);
    border-radius: 5px;
    margin: 0 1rem;
    transition: all 0.3s ease-in-out;
}

#buttons a:hover {
    background-color: var(--color-green);
    color: var(--color-gold);
}

@media screen and (max-width: 600px) {
    .cert {
        border: 15px solid var(--color-green);
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .title {
        font-size: 24px;
    }

    .date {
        font-size: 16px;
    }

    .person {
        font-size: 16px;
        width: 90%;
    }

    .reason {
        font-size: 16px;
    }
}