table#myCommendations {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--color-green);
}

th,
td {
    padding: 10px;
    border: 2px solid var(--color-green);
}

tr {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #b4b4b4;
}

div#info-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#info-split>div {
    width: 50%;
    padding: 10px;
}

div#info-split>div:nth-child(even) {
    /* Add a left border */
    border-left: 2px solid var(--color-green);
}