{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}Award Commendation{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}Award a commendation to students who have displayed the RISE values in class{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}
<link rel="stylesheet" href="{% static 'commendations/giveCommendation.min.css' %}">
<script src="{% static 'commendations/search.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    {% comment %} For 2 col selector {% endcomment %}
    $(document).ready(function () {
        $('#Available').on('click', 'li', function () {
            $(this).toggleClass('selected');
            $(this).find('input').prop('checked', !$(this).find('input').prop('checked'));
            if ($(this).hasClass('selected')) {
                $('#selected-students').append('<li><input type="checkbox" id="' + $(this).find('input').attr('id') + '" checked>' + $(this).text() + '</li>');
                // Also add to hidden input
                $('#selectedStudents').val($('#selectedStudents').val() + $(this).find('input').attr('id') + ',');
            } else {
                $('#selected-students').find('#' + $(this).find('input').attr('id')).parent().remove();
                // Also remove from hidden input
                $('#selectedStudents').val($('#selectedStudents').val().replace($(this).find('input').attr('id') + ',', ''));
            }
        });
        $('#Selected').on('click', 'li', function () {
            $(this).toggleClass('selected');
            $(this).find('input').prop('checked', !$(this).find('input').prop('checked'));
            $('#selected-students').find('#' + $(this).find('input').attr('id')).parent().remove();
            // Remove selected class from li in Available
            $('#Available').find('#' + $(this).find('input').attr('id')).parent().removeClass('selected');
            // Also remove from hidden input
            $('#selectedStudents').val($('#selectedStudents').val().replace($(this).find('input').attr('id') + ',', ''));
        });
    });
</script>
{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}Award Commendation{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="formField">
        <label for="commendationType">Commendation Type <abbr class="requiredField" title="This field is required">*</abbr></label>
        <br>
        <fieldset name="commendationType">
            {% for type in commendationTypes %}
                <input type="radio" name="commendationType" id="type-{{ type.value }}" value="{{ type.value }}" required>
                <label for="type-{{ type.value }}">{{ type.name }}</label>
                <br>
            {% endfor %}
        </fieldset>
    </div>

    <div class="formField">
        <label for="commendationLocation">Commendation Location</label>
        <br>
        <fieldset name="commendationLocation">
            {% for Location in commendationLocations %}
                {% if forloop.counter == 1 %}
                    <input type="radio" name="commendationLocation" id="loc-{{ Location.value }}" value="{{ Location.value }}" checked>
                {% else %}
                <input type="radio" name="commendationLocation" id="loc-{{ Location.value }}" value="{{ Location.value }}">
                {% endif %}
                <label for="loc-{{ Location.value }}">{{ Location.name }}</label>
                <br>
            {% endfor %}
        </fieldset>
    </div>

	<div class="formField">
		<label for="quickReason">Quick Reasons</label>
		<p class="hint">Optional. You can also enter a custom reason below</p>
		<select name="quickReason" id="quickReason">
			<option value="">No quick reason</option>
			<option value="Being Truthful">Being Truthful</option>
			<option value="Doing the right thing">Doing the right thing</option>
		</select>
	</div>

    <div class="formField">
        <label for="reason">Reason</label>
        <p class="hint">Optional. If you have selected a quick reason anything you enter here will still be included</p>
        <textarea name="reason" id="reason"></textarea>
    </div>

    <div class="formField">
        <label>Student(s) <abbr class="requiredField" title="This field is required">*</abbr></label>
        <p class="hint">Select students from the left by clicking them. Students on the right will be awarded the commendation. You can click students who are selected to deselect them</p>
        <div class="selector">
            <label id="AvailableLabel">Available Students</label>
            <label id="SelectedLabel">Selected Students</label>
            <input type="text" name="students" id="searchStudents" placeholder="Search students" onkeyup="filterStudents(this.value)">
            <div id="Available" class="selectorCol">
                <ul id="selectable-students">
                    {% for student in students %}
                        <li><input type="checkbox" id="{{student.id}}">{{student}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="Selected" class="selectorCol">
                <ul id="selected-students">
                    <!-- Selected students will appear here -->
                </ul>
            </div>
        </div>
    </div>

    <div class="formField">
        <label for="teacher">Teacher <abbr class="requiredField" title="This field is required">*</abbr></label>
        <br>
        <select name="teacher" id="teacher" required>
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher }}</option>
            {% endfor %}
        </select>
    </div>

    {% comment %} Hidden selected students list {% endcomment %}
    <div class="formField">
        <input type="hidden" name="selectedStudents" id="selectedStudents">
    </div>

    <div class="formField">
        <input type="submit" value="Submit" id="submit">
    </div>
</form>
{% endblock content %}
