{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title{% endcomment %}
{% block title %}Commendation Information{% endblock title %}
{% comment %} Meta description{% endcomment %}
{% block description %}Get detailed information about a Commendation{% endblock description %}


{% comment %} HTML head, for css styles etc{% endcomment %}
{% block head %}
<link rel="stylesheet" href="{% static 'commendations/certificate.min.css' %}">
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="{% static 'commendations/download.min.js' %}"></script>
<style>
    #cert {
        {% comment %} Place the image in the bottom right, with a small padding {% endcomment %}
        background-image: url({% static 'img/bayfield-shield-logo.png' %}) !important;
        background-position: top left !important;
        background-size: 20%  !important;
        background-repeat: no-repeat !important;
        background-origin: content-box;
    }
</style>
{% endblock head %}


{% comment %} H1 at top of page, page title{% endcomment %}


{% comment %} Main content{% endcomment %}
{% block content %}
<div class="container">
    <div id="cert">
        <div class="organisation">
            Bayfield High School
        </div>

        <div class="title">
            {{ commendation.get_commendation_type_display }} commendation
        </div>

        <div class="date">
            This commendation was awarded by {{ commendation.teacher }}, on {{ commendation.date_time|date:"F j, Y" }} to<br/>
        </div>

        <div class="person">
            {{student.user.first_name}} {{student.user.last_name}}
        </div>

        <div class="reason">
            For {{ commendation.reason }}
        </div>
    </div>
</div>
<div id="buttons">
    <a href="/">Home</a>
    <a onclick="saveCertAsPNG('#cert', '{{commendation.get_commendation_type_display}} commendation for {{student.user.first_name}} from {{commendation.teacher}}')">Save as Image</a>
    <a href="/commendations/my/">Back</a>
</div>
{% endblock content %}
