{% extends 'base.html' %}
{% load static %}

{% comment %} HTML title {% endcomment %}
{% block title %}My Commendations{% endblock title %}
{% comment %} Meta description {% endcomment %}
{% block description %}{% endblock description %}

{% comment %} Content that goes in the HTML head {% endcomment %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'commendations/my_commendations.min.css' %}">
{% endblock head %}

{% comment %} H1 at top of page, page title {% endcomment %}
{% block headerText %}My Commendations{% endblock headerText %}

{% comment %} Main content {% endcomment %}
{% block content %}
<p>
    To view more information about individual commendations click on the row in the table.
    <br>
    <br>
    {% if commendationsSince|length > 1 %}
        {% if request.user.is_caregiver %}{{ student.user.first_name }} has {% else %}You have{% endif %} have received new {{commendationsSince|length}} commendations since you last logged in.
        <br>
    {% elif commendationsSince|length == 1 %}
        {% if request.user.is_caregiver %}{{ student.user.first_name }} has {% else %}You have{% endif %} have received new {{commendationsSince|length}} commendation since you last logged in.
        <br>

    {% endif %}
    {% if request.user.is_caregiver %}{{ student.user.first_name }} has {% else %}You have{% endif %} have received {{commendations|length}} commendations in total.
</p>

<table id="myCommendations">
    <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Reason</th>
    </tr>
    {% for commendation in commendations %}
        {% comment %} CommendationsSince is a set of new commendations, if the commendation is in commendationsSince then it should have the newCommendation class {% endcomment %}
        {% if commendation in commendationsSince %}
            <tr onclick="window.location.href='/commendations/detail/{{commendation.id}}'" class="newCommendation">
                <td class="Ctype">{{commendation.get_commendation_type_display}}</td>
                <td class="Cdata">{{ commendation.date_time|date:"F j, Y" }}</td>
                <td class="Creason">{{commendation.reason}}</td>
            </tr>
        {% else %}
            <tr onclick="window.location.href='/commendations/detail/{{commendation.id}}'">
                <td class="Ctype">{{commendation.get_commendation_type_display}}</td>
                <td class="Cdata">{{ commendation.date_time|date:"F j, Y" }}</td>
                <td class="Creason">{{commendation.reason}}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock content %}
