table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--color-green);
}

th,
td {
    padding: 10px;
    border: 2px solid var(--color-green);
}

tr:nth-child(even) {
    background-color: #b4b4b4;
}