#err-num {
    color: var(--color-gold);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    text-align: center;
    margin: 0px;
}

.err-404 {
    display: inline-block;
}

.far {
    font-size: 8.5rem;
    color: var(--color-gold);
    display: inline-block;
}

#buttons {
    text-align: center;
    margin-top: 2rem;
}

#buttons a {
    text-decoration: none;
    color: var(--color-green);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 3px solid var(--color-green);
    border-radius: 5px;
    margin: 0 1rem;
    transition: all 0.3s ease-in-out;
}

#buttons a:hover {
    background-color: var(--color-green);
    color: var(--color-gold);
}

@media only screen and (max-width: 550px) {
    #err-num {
        font-size: 6rem;
    }

    .far {
        font-size: 5rem;
    }

    #buttons a {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
    }
}